* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.gallery { 
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    overflow: hidden;
}


#yak2 {
    
  background: linear-gradient(45deg, #5D6772 25%, rgba(255, 255, 255, 0) 25%) 0 0, linear-gradient(45deg, rgba(255, 255, 255, 0) 75%, #5D6772 75%) 0 0, linear-gradient(45deg, rgba(255, 255, 255, 0) 75%, #5D6772 75%) -6em 6em, linear-gradient(45deg, #5D6772 25%, rgba(255, 255, 255, 0) 25%) 6em -6em !important; 
  background-size: 12em 12em !important;
  background-color: #5E748B !important;

}

.hamburger {
    
 display: none !important;
    
}


.menu {

    position: fixed;
    top: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: flex !important;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
}    





.scroll-update {
    
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.gallery img { 
    width: 100%; 
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    opacity: 0.8;
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
}

.gallery img:hover {
    opacity: 1;
}

/* .modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
} */

.modal-img,.model-vid{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table
}
.modal-body{
  padding: 0px;
}

.modal-dialog {
  height: 100%;
      position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
  border: none;
}

@media screen and (max-width: 767px) {
	.gallery { 
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
	.gallery div { margin: 0; 
        width: 200px;
    }
  .modal-dialog {
        margin: 0 8vw;
    }
}

@media screen and (max-width: 479px) {
    .gallery { 
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .gallery div { 
        margin: 0; 
        width: 200px;
    }
}

.bg-colour {
    background-color: #D37300 !important;
/*    background-color: #61778F !important;*/
}
.about {
    color: #fff !important;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.about-book {
    
    padding: 30px !important;
    
}

#s1 {
    z-index: -12;
    background-color: palegreen;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 100px 0;
      background: radial-gradient(circle at bottom, #bbb, transparent 80%), linear-gradient(to top, black 0%, transparent 70%), linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.4) 70%), #000;
  -webkit-animation: bg 30s infinite;
          animation: bg 30s infinite;
}
@-webkit-keyframes bg {
  0%,
  100% {
    background-color: #000;
  }
  25% {
    background-color: #000;
  }
  50% {
    background-color: #000;
  }
  75% {
    background-color: #000;
  }
}

@keyframes bg {
  0%,
  100% {
    background-color: #bbb;
  }
  25% {
    background-color: #000;
  }
  50% {
    background-color: #000;
  }
  75% {
    background-color: #bbb;
  }
}
.txt {
    position: relative;
    height: 100%;
}

.picture {
    position: relative;
    z-index: 1;
}

.first-about.animated {
  animation-iteration-count: 1;
  animation-duration: 2s;
}

.about {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    margin: .5em 0 0;
    color: #000;
}

.first-about {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 72px;
    margin-left: -100px;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    z-index:0;
}

.first-about.stroke {
    position: absolute;
    top: 0;
    left: 15px;
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    z-index: 9;
}

.first-about.stroke {
    position: absolute;
    top: 0;
    left: 15px;
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    z-index: 9;
}

.first-about.stroke:hover {
    -webkit-text-fill-color: #fff;
    cursor:default;
}

/*S3 S3 S3*/
/*
#s3 {height: 400px;}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 200px;
}


.flip3D {
    width: 150px;
    height:auto;
}


.flip3D > .front {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    width: 200px;
    height: 200px;
    border-radius: 50% 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
    cursor: pointer;

    font-size: 10em;
    text-align:center;
    line-height:1.3em;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flip3D>.back {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: rgb(10, 27, 180);
    width: 200px;
    height: 200px;
    border-radius: 50% 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
    cursor: pointer;

    font-size: 1em;
    text-align:center;
    line-height:12em;
    color: white;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flip3D:hover>.front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY (-180deg);
    cursor: pointer;
}

.flip3D:hover>.back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY (0deg);
    cursor: pointer;
    z-index: 1000;
}

 ------------------------- 
------------COLORS ---------
-------------------------- 

.color-gray {
    background: #fff;
}

.color-green {
    background: #ccc;
    z-index: 1;
}

.color-yellow {
    background: #bbb;
}

.color-orange {
    background: #000;
    z-index: 1;
}

.color-red {
    background: rgba(255, 72, 26,0.6);
}
*/
footer {
  margin:0;
    padding: 0;
height: 100px;
  background: #000;
text-align: center;
    border: none;
}
.heartbeat {padding: 30px;}

@-webkit-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@-moz-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@-o-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}

/* Styles for old versions of IE */
.heartbeat {
  font-family: sans-serif;
  font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.heartbeat:not(:required) {
  -webkit-animation: heartbeat 1300ms ease 0s infinite normal;
  -khtml-animation: heartbeat 1300ms ease 0s infinite normal;
  -moz-animation: heartbeat 1300ms ease 0s infinite normal;
  -ms-animation: heartbeat 1300ms ease 0s infinite normal;
  -o-animation: heartbeat 1300ms ease 0s infinite normal;
  animation: heartbeat 1300ms ease 0s infinite normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.heartbeat:not(:required):after, .heartbeat:not(:required):before {
  position: absolute;
  content: "";
  background: #e87;
}
.heartbeat:not(:required):before {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  top: 12px;
  left: 0;
  width: 36px;
  height: 24px;
}
.heartbeat:not(:required):after {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  left: 12px;
  width: 24px;
  height: 12px;
}


@media screen and (max-width:767px) {
    .first-about {
        margin-left: 0;
        margin-top: -40px;
    }
    
   
}

@media screen and (max-width:1000px) {
    
     .hamburger {
    
    position: fixed !important;
    top: 40px !important;
    padding: 20px !important;
    z-index: 1000;
    display: flex !important;
}

.menu {

    position: fixed;
    top: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none !important;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
}    

.menu.menu-active {

    position: fixed;
    top: 104px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    display: flex !important;
}
    
}


